body {
    background: #000000;
    text-align: center;
    color: #DDD;
    font-family: Arial;
}

.controls {
    color: #BBB;
}

#gameDiv {
    margin: 1.25em auto 0;
    width:  400px;
    height: 490px;
}

.bottom {
    font-size: 0.75em;
    color: #888;
    margin-top: 3.125em;
}

.bottom a {
    color: #AAA;
}